.grid-container: .grid-x.grid-padding-x.no-margin
    .small-24.medium-12.large-8.cell
       .ethereum.coins
            h2 Ethereum
            img(src="./images/ethereum.png")
            .grid-x.coins__text
               .small-12.text-left
                    h4 Price:
                    p.change
                        strong Percent change
                    p Hour change
                    p Day change
                    p Week change
                    p Month change
               .small-12.price-text.text-right
                    h3#priceETH 22 526.92
                    .switch-wrapper
                       .switch
                           img.point(src="./images/radio.png")
                    p
                        span.price#hourETH-price
                        span.percent#hourETH-percent
                    p
                        span.price#dayETH-price
                        span.percent#dayETH-percent
                    p
                        span.price#weekETH-price
                        span.percent#weekETH-percent
                    p
                        span.price#monthETH-price
                        span.percent#monthETH-percent
    .small-24.medium-12.large-8.cell
        .litecoin.coins
            h2 Litecoin
            img(src="./images/litecoin.png")
            .grid-x.coins__text
               .small-12.text-left
                    h4 Price:
                    p.change
                        strong Percent change
                    p Hour change
                    p Day change
                    p Week change
                    p Month change
               .small-12.price-text.text-right
                    h3#priceLTC 22 526.92
                    .switch-wrapper
                       .switch
                           img.point(src="./images/radio.png")
                    p
                       span.price#hourLTC-price
                       span.percent#hourLTC-percent
                    p
                       span.price#dayLTC-price
                       span.percent#dayLTC-percent
                    p
                        span.price#weekLTC-price
                        span.percent#weekLTC-percent
                    p
                        span.price#monthLTC-price
                        span.percent#monthLTC-percent
    .small-24.medium-12.large-8.cell
        .bitcoin.coins
            h2 Bitcoin
            img(src="./images/bitcoin.png")
            .grid-x.coins__text
               .small-12.text-left
                    h4 Price:
                    p.change
                        strong Percent change
                    p Hour change
                    p Day change
                    p Week change
                    p Month change
               .small-12.price-text.text-right
                    h3#priceBTC 22 526.92
                    .switch-wrapper
                       .switch
                           img.point(src="./images/radio.png")
                    p
                        span.price#hourBTC-price
                        span.percent#hourBTC-percent
                    p
                        span.price#dayBTC-price
                        span.percent#dayBTC-percent
                    p
                        span.price#weekBTC-price
                        span.percent#weekBTC-percent
                    p
                        span.price#monthBTC-price
                        span.percent#monthBTC-percent