.grid-container: .grid-x.grid-padding-x
    .select-block.text-white
        .grid-x.grid-padding-x
            .small-24.large-16.cell.text-center
                h1 Select currency to exhange:
            .small-24.large-8.cell
                .select
                    select
                        option(value='0') USD
                        option(value='1') EUR
                        option(value='2') RUB
                        option(value='3') GBP