doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        .background-stars
            include components/corporate/_select
            block page
                include components/corporate/_coin
            include components/service/_js
