@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$textSizes: (tiny: 0.7rem, xsmall: 0.8rem, small: 0.9rem, default: 1rem, large: 1.1rem, xlarge: 1.25rem, xxlarge: 1.5rem, xxxlarge: 2.5rem) !default;

$minify: false !default;
@if $minify {
  $imagesPath: './images';
  $fontsPath: './fonts';
  $fa-font-path: $fontsPath;
}

@import "foundation-settings";

@import "foundation";
@import "motion-ui";
@import "jquery.fancybox";
@include foundation-everything(true, true);

@import "common";
@import "fonts";

@import "background";
@import "select";
@import "coin";
@import "text";
@import "text-size";
@import "jquery.formstyler";
@import "jquery.formstyler.theme";
